<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Demo Orders</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<table>
    <tr>
        <th>Creation Date</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Price</th>
        <th>Details</th>
    </tr>
    <tr th:each="order : ${orders}">
        <td th:text="${order.getCreationDate()}"></td>
        <td th:text="${order.getEmail()}"></td>
        <td th:text="${order.getPhoneNumber()}"></td>
        <td th:text="${order.getProduct().getPrice()}"></td>
        <td>
            <a th:href="@{/order/{id}/(id=${order.getId()})}">Details</a>
        </td>
    </tr>
</table>
<div>
    <a th:href="@{~/}">index</a>
</div>
</body>
</html>
