<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Demo Product</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

    <table>
        <tr>
            <th>Name</th>
            <td th:text="${product.getName()}"></td>
        </tr>
        <tr>
            <th>In stock</th>
            <td th:text="${product.getInventory()}"></td>
        </tr>
        <tr>
            <th>Details</th>
            <td th:text="${product.getDescription()}"></td>
        </tr>
        <tr>
            <th>Price</th>
            <td th:text="${product.getPrice()}"></td>
        </tr>
    </table>
    <a th:href="@{~/order/new(id=${product.getId()})}">index</a>
<div>
    <a th:href="@{~/}">index</a>
</div>
</body>
</html>
